/* these four styles below are used with aside */

aside {
  width: 300px;
  margin-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  overflow: visible;
}

aside h3 {
  margin: 0; 
}

aside p {
  margin: 0;
  padding: 5px;
  color: white;
  background-color: maroon;
  text-align: left;
}

 
/* enter the code for your styles below */
* { 
	padding: 0; 
	margin: 0; 
}

aside { 
	border: 2px black solid; 
}

body{
	font-size: 16pt; 
	font-family: arial, sans-serif; 
	color: darkred; 
	background-color: white; 
}

#container { 
	width: 900px
	margin: 0 auto; 
	border-width: 1px solid
	
}

#main { 
	width: 900px; 
	padding: 10px; 
	margin: 0 0 10px 0; 
	background-color: gre; 
	float: right; 
	border: 2px black solid; 
}

p{ 
	text-align: center; 
}
