/* Bremstone Vinyl Records
	Author: Brittani M 
	Date: 9/24/16 
*/ 

/* body */ 

body{ 
	font-family: verdana, sans-serif; 
	background-color: #c0e59b; 
}

/* Heading styles */

h1{
	text-align: center; 	
}

h2{
	color: navy; 
}

h3{
	font-weight: bold; 
	color: navy; 
}

h4{
	text-transform: uppercase; 
	font-style: italic; 
	color: maroon; 
}

/* paragraphs */

p{
	text-indent: 5em; 
	line-height: 1.5em; 
}
	