/* body */

body { 
	font-size: 1.5em; 
	background-color: black; 
	color: red; 
	font-family: Helvetica, sans-serif; 
	margin: 0 2.5em 0 2.5em; 
	background: url(images/stars.jpeg); 
}


img { 
	float: left; 
	padding: .25em; 
}

img.right { 
	float: right; 
	padding: 1em; 
}

.clear { 
	clear: both; 
}

h1{ 
	border-bottom: dotted thick navy; 
	border-top: dotted thick navy; 
	color: orange; 
	}
	
h3{ 
	text-decoration: underline overline 
}

li{ 
	margin-left: 2.5em; 
}