
@import url(footer.css); 
body { 
	font-size: 1em; 
	font-family: georgia, sans-serif; 
	margin-top: 1em; 
}

* { 
	margin: 0; 
	padding: 0; 
}

#container { 
	width: 960px; 
	margin: 0 auto; 
	border: 1px solid; 
	background-color: #F3F6E9; 	
}

header { 
	width: 960px; 
}

#left { 
	width: 298px; 
	padding: 10px; 
	border-right: 3px solid teal; 
	float: left; 
}

#middle { 
	width: 298px; 
	padding: 10px; 
	border-right: 3px solid teal; 
	float: left; 
}

#right { 
	width: 298px; 
	padding: 10px; 
	float: left; 
}

h1{ 
	padding: 10px; 
	color: white; 
	text-align: center; 
	background: url(images/blacktexture.jpg); 
	background-color: teal; 
}

h2{ 
	padding: 10px; 
	margin-bottom: 10px; 
	color: white; 
	background-color: navy; 
	text-align: center; 
}

p { 
	text-indent: 1em
}
