	 nav
	 
		horizontalNAV  { 
		font-weight: bold; 
		list-style: none; 
		float: right;  
		background: lightblue; 
		display: block;
		width: 80%; 
		text-align: center; 
		}
		
		 a { 
			color: black; 
			text-decoration:none;
			margin: 
		}
		
		ul { 
			list-style-type: none; 
		}
		
		body { 
			margin: 0px auto;
			padding: 0px;
			line-height: 1.5em;
			width: 98%;
			max-width: 1100px;
			min-width: 250px;
			font-family: Verdana, Geneva, sans-serif; 
			background-image: url(background.jpg); 
			
		}
		
		aside { 
			float: left; 
			width: 15%;
			background: lightblue; 
			border-radius: 15px 15px 15px 15px; 
			border: black; 
			box-shadow: 10px 10px 5px darkgray; 
			}
			
		aside p{ 
			font-size: 12pt;
			line-height: 1.5em; 
		}
		
		section { 
			width: 75%; 
			float:right; 
		}
		
		h4{ 
			background: lightblue;  
			font-size: 30pt; 
			text-align: center; 
			line-height: 1.5em; 
			width: 100%; 
			font: lucinda  sans; 
		}
		