/*
    Sunny Acres Stylesheet
    Author: Brittani M
    Date:12/22/17
*/

@font-face {
  font-family: 'NobileRegular';
  src: url('nobile-webfont.eot');
  src: local(':&'),
    url('nobile-webfont.woff') format('woff'),
    url('nobile-webfont.ttf') format('truetype'),
    url('nobile-webfont.svg#webfontsKo9tqe9') format('svg');
}


/* Body Styles*/

body {
    background-color: white;
    font-family: NobileRegular, Verdana, Geneva, sans-serif;
    line-height: 1.4em;
}

/* Header Styles*/
section h1 {

    background-color: rgb(125, 186, 240);
    color: white;
    font-size: 1.7em;
    letter-spacing: 0.4em;
    line-height: 1.8em;
    text-indent: 1em;
}

h2 {
    background-color: rgb(0, 165, 0);
    color: white;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 0.4em;
    line-height: 1.8em;
    text-indent: 1em;
}

/* Navigation Styles */

nav ul{
    background-color: rgb(125, 186, 240);
    line-height: 3.5em;
    list-style-type: none;
    padding-left: 0.5em;

}

nav ul li:hover {
    background-color: rgb(83, 142, 213);
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li:first-of-type {
    text-transform: uppercase;
}

/* Section Styles */

section p.closing {
    color: rgb(0, 165, 0);
    text-align: right;

}

section h2+ul {
    list-style-image: url(arrow.png);
}

/* Footer Styles */

footer address{
    background-color: rgb(55, 102, 55);
    color: white;
    color: rgba(255, 255, 255, 0.8);
    font: normal small-caps 0.8em/4em 'Times New Roman', Times, serif;
    text-align: center;
}
