/* Created by Brittani Mosley on 10/23/16 

All files for this website link to this style sheet */



/* body */
  
  body { 
	font-family: Verdana, sans-serif; 
	font-size: 1.1em; 
	color: white; 
	background-color: darkslategray; 
	background-image: url(images/grey_texture.jpg); 
  }
  
 /* headings */ 
 
 
  h1{ 
	background-color: black; 
	margin: 0 0 0 10px; 
	padding: 4px; 
	text-align: center; 
  }

	h2{ 
		background-color: gray; 
		margin: 10px 0 0 10px; 
		padding: 4px; 
		text-align: center; 
	}
	
	h3{ 
		border-bottom: solid thick darkkhaki; 
		padding-bottom: 0.5em; 
	}
	
	h4{ 
		background-image: url(images/green_linen.jpg); 
		background-color: yellow; 
		display: inline; 
		padding: 4px; 
		color: black; 
	}
	
	footer{ 
		background-image: url(images/green_linen.jpg);  
		background-color: yellow; 
		color: black; 
		padding: 4px; 
		text-align: center; 
		font-size: 1.1em; 
		display: block; 
	}
	
	img{ 
		float: left; 
		margin: 0 10px 10px 0; 
	}
	
	img.right{ 
		border: double thick black; 
		float: right; 
		margin: 10px 0 10px 10px; 
	}
	
	.clear{ 
		clear: both
	}
	
	/* links */
	
	a:link { 
		color: orange; 
		text-decoration: none; 
	}
	
	a:hover { 
		color: black; 
		background-color: darkkhaki; 
		text-decoration: underline; 
	}
	
	a:visited { 
		color: maroon; 
	}
	
	