/*
   New Perspectives on HTML and CSS
   Additional Cases
   Case 2

   Cornucopia Online Base Style Sheet

   Filename:         cbase.css
   Supporting Files: 

*/

/* Basic styles to be used with all devices and under all conditions */



/* Display HTML5 structural elements as blocks */

article, aside, figure, figcaption, footer, hgroup, header, 
section, nav {
   display: block;
}


/* Set the default page element styles */

body * {

   font-family: Verdana, Geneva, sans-serif;
   font-size: 100%;
   font-weight: inherit;
   line-height: 1.2em;
   margin: 0px;
   padding: 0px;
   text-decoration: none;
   vertical-align: baseline;
}
