/* Print styles */ 
/* Author: Brittani */
/* Date: 11/5/16 */

/* hides element */

nav, header { 
	display: none; 
}

@page { 
	size: 8.5in 11in; 
	margin: 0.5in; 
}

/* formats page for printing */

body { 
	color: black; 
	background-color: white; 
	background-image: none; 
	font-size: 12pt; 
	font-family: "Times New Roman", Time, serif; 
	line-height: 120%; 
}

/* sets links to default colors */

a { 
	text-decoration: underline; 
	color: blue; 
}

/* removes images from printout */ 
	
	img { 
		display: none; 
	}
	
	