/*
   New Perspectives on HTML and CSS
   Tutorial 7
   Tutorial Case

   Jumbo Popcorn Style Sheet
   Author:
   Date:

   Filename:         clips.css
   Supporting Files:

*/

/* Multimedia and Video control styles */
audio, video {
  background-color: white;
  display: block;
  text-align: center;
  margin: 5px auto;
  width: 95%;
}
