/*
   New Perspectives on HTML and CSS
   Tutorial 7
   Tutorial Case

   Jumbo Popcorn Style Sheet

   Filename:         jp.css
   Supporting Files:

*/

/* Display HTML5 structural elements as blocks */

article, aside, figure, figcaption, footer, hgroup, header,
section, nav {
   display: block;
}


/* Set the default page element styles */

body * {
   font-family: Verdana, Geneva, sans-serif;
   font-size: 100%;
   font-weight: inherit;
   line-height: 1.2em;
   list-style: none;
   margin: 0px;
   padding: 0px;
   text-decoration: none;
   vertical-align: baseline;
}



/* Body Styles */
body {
   background: url(popcorn.jpg) repeat-y;
   width: 95%;
   min-width: 1000px;
   max-width: 1400px;
   font-family: Verdana, Geneva, sans-serif;
   font-weight: normal;
}



/* Header Styles */

header {
   width: 100%;
}

header nav {
   position: absolute;
   left: 150px;
   top: 170px;
   width: 70%;
   z-index: 2;
}

header nav ul li {

   display: block;
   float: left;
   width: 13%;
   margin: 0px 2px;
   text-align: center;
}

header nav ul li a {
   display: block;
   border: 1px solid black;
   width: 100%;
   background-color: rgb(162, 112, 41);
   color: white;
}

header nav ul li a:hover {
   color: black;
}

header h1 {
   clear:  left;
   width: 100%;
   font-size: 1.4em;
   letter-spacing: 3px;
   font-weight: bold;
   margin-left: 30%;
}



/* Vertical Navigation Styles */
nav.vertical {
   float: left;
   width: 15%;
   margin-top: -60px;

   -op-background-size: contain;
   -moz-background-size: contain;
   -webkit-background-size: contain;
   background-size: contain;
}

nav.vertical ul {
   margin-left: 10px;
}

nav.vertical li.lTitle {
   font-size: 0.9em;
   margin-top: 30px;
   margin-bottom: 12px;
   color: black;
}

nav.vertical li {
   display: block;
   margin-bottom: 3px;
}

nav.vertical li a {
   display:block;
   width: 100%;
   font-size: 0.8em;
   margin-left: 15px;
   color: black;
}

nav.vertical li a:hover {
   color: rgb(162, 112, 41);
}



/* Section Styles */
section {
   margin-top: 20px;
}


section article h2 {
   margin: 0px 0px 15px 0px;
   font-weight: normal;
   text-align: center;
   color:  white;
   background-color: rgb(162, 112, 41);

   -moz-border-radius-topleft: 30px;
   -webkit-border-top-left-radius: 30px;
   border-top-left-radius: 30px;

   -moz-border-radius-topright: 30px;
   -webkit-border-top-right-radius: 30px;
   border-top-right-radius: 30px;


   font-size: 1.2em;
   letter-spacing: 5px;
   line-height: 2em;
}

section article {
   background-color: white;
   border: 3px  solid rgb(162, 112, 41);

   -moz-border-radius:  30px;
   -webkit-border-radius:  30px;
   border-radius: 30px;

   margin-bottom: 20px;
}

section article p {
   font-size: 0.9em;
   margin: 15px;
}


section.middle article:first-of-type p:first-of-type {
   text-align: center;
}




/* Middle Section Styles */
section.middle {
   width:  30%;
   float: left;
   margin-left: 5px;
}

section.middle img {
   float: right;
   clear: right;
   margin: 0px 0px 0px 10px;
}



/* Right Section Styles */
section.right {
   width: 35%;
   float: left;
   margin-left: 15px;
}




/* Footer Styles */
footer {
   clear: left;
   margin-left: 20%;
   width: 65%;
   border-top: 1px solid black;
   padding-bottom: 20px;
}

footer nav ul li {
   display:  block;
   float:  left;
   width: 14%;
   text-align: center;
}

footer nav ul  li a {
   color: black;
   font-size: 0.7em;
}
