/* Take Away Wireless 
	Layout Style sheet
	Author: Brittani Menu
	Date: 9/24/16
*/ 

/* body */ 

body {
	font-size: 1.2em; 
	font-family: Arial, sans-serif; 
	background-color: #e6d6fa; 
}

/* emphasized styling */
em {
	color: green; 
	font-weight: bold; 
}

/* heading styles */
h3{
	color: maroon; 
	text-transform: uppercase; 
	text-align:  right; 
	font-size: 1.3em; 
	font-family: Times, sans-serif; 
}