/* foodstyles.css */


body {
  background-color: #43201e;
  font-size: 1.1em;
  font-family: Arial, Helvetica, sans-serif;
}

#container {
   width: 90%;
   border-width: 1px;
   margin: 0 auto;
 }

 #container { 
	 mix(#f00, #00f) => #7f007f
	mix(#f00, #00f, 25%) => #3f00bf
	mix(rgba(255, 0, 0, 0.5), #00f) => rgba(63, 0, 191, 0.75)
	}
 
header {
  margin-bottom: 0;
  background-color: #354660;
}

#info {
  width: 25%;
  padding: 1em;
  background-color: #c9c3b5;
  float: left;
  margin-bottom: 10px;
}

#info h3 { 
  text-align: center;
  text-transform: uppercase;
}

#order {
  width: 70%;
  float: right;
}

footer {
  margin-top: 1em;
  border-top: solid thin black;
  border-bottom: solid thick black;
  clear: both;
  font-weight: bold;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

img.vertical {
  vertical-align: middle;
}