/*
   New Perspectives on HTML and CSS
   Tutorial 4
   Review Assignment

   Cycle Pathology Style Sheet
   Author:
   Date:

   Filename:         race.css
   Supporting Files:

*/
/* Styles for all elements */

header, article, aside, figure, figcaption, hgroup, section, nav {
  display: block;
}

* {
  font-size: 100%;
  font-family: 'Verdana', 'Geneva', sans-serif;
  padding: 0px;
  margin: 0px;
}

/* Navigation Styles */

nav a {
  text-decoration: none;
}

/* Body Styles */

body {
  position: relative;
  width: 98%;
  min-width: 1000px;
  max-width: 1400px;
}

/* Header Styles */

header{
  position: absolute;
  left: 0px;
  right:0px;
  width: 20%;
  background-color: black;
  padding-bottom: 500px;
}

header img{
  width: 100%;
}

/*Horizontal Nav Styles */

nav.horizontal {
  width: 80%;
  margin-left: 20%;
}

nav.horizontal li{
  display: block;
  float: left;
  width: 20%;
  background-color: rgb(49, 38, 31);
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 85%;
}

nav.horizontal a{
  color: white;
}

nav.horizontal a:hover{
  color: rgb(215, 181, 151);
}

/*Vertical Navigation Styles*/

nav.vertical li{
  font-size: 85%;
  list-style: none;
}

nav.vertical a{
  color: white;
  display: block;
  text-indent: 10px;
}

nav.vertical a:hover{
  background-color: rgb(51, 51, 51);
  border: 2px solid rgb(215, 181, 151);

}

nav.vertical .newgroup{
  padding-top: 25px;

}

/* Main Section Styles */

#main{
  clear: left;
  float: left;
  margin-left: 21%;
  margin-top: 20px;
  width: 49%;

}

#main h1{
  color: rgb(189, 131, 82);
  font-size: 180%;
  letter-spacing: 5px;
}

#main p{
  margin: 15px;
}

#main ul {
  list-style: disc;
  margin: 25px;

}

#main ul li{
  margin: 10px;
}

#main aside{
  border: 3px solid rgb(149, 91, 42);
  color: rgb(149, 91,42);
  width: 50%;
  border-radius: 30px;
  float: right; 
  }

#main aside p{
  font-size: 90%;
  margin: 20px;
}

/* Article Styles */

article {
  float: left;
  width: 29%;
  margin-left: 1%;
  background-color: rgb(215, 181, 151);
}

article hgroup{
  background: rgb(189, 131, 82)  url(alisha.png) bottom right no-repeat;


  color: rgb(215, 181, 151);
  margin-bottom: 10px;
  height: 60px;
  text-indent: 20px;

}

article hgroup h1{
  font-size: 150%;
}

article hgroup h2{
  font-size: 110%;
}

article p{
  font-size: 90%;
  margin: 15px;
}

/* Figure Styles */

figure {
  clear: left;
  float: left;
  margin-left: 21%;
  width: 79%;
  background-color: rgb(149, 91, 42);
}

figure div{
  overflow: auto;
  white-space: nowrap;
}

figure img{
  margin: 10px;
  border-radius: 10px;
}

figure figcaption{
  background: white;
  font-size: 80%;
  font-style: italic;
  text-align: center;
  margin-top: 5px;
}
